PORT=3001
DATA_DIR=./data
SEEDANCE_API_KEY=replace_with_your_seedance_api_key
SEEDANCE_BASE_URL=https://ark.cn-beijing.volces.com
SEEDANCE_MODEL=doubao-seedance-2-0-fast-260128
SEEDANCE_TIMEOUT_MS=300000
SEEDANCE_POLL_INTERVAL_MS=3000
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=replace_with_your_paypal_client_id
PAYPAL_CLIENT_SECRET=replace_with_your_paypal_client_secret
AUTH_TOKEN_SECRET=replace_with_a_long_random_secret
AUTH_TOKEN_TTL_MS=2592000000
