PORT=3001
SEEDANCE_API_KEY=replace_with_your_seedance_api_key
SEEDANCE_BASE_URL=https://ark.cn-beijing.volces.com
SEEDANCE_MODEL=doubao-seedance-2-0-fast-260128
SEEDANCE_TIMEOUT_MS=300000
SEEDANCE_POLL_INTERVAL_MS=3000
